<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>Descrição</label>
    <input md-maxlength="30" required name="descricao" data-ng-model="vm.service.descricao" />
    <div ng-messages="serviceForm.name.$error">
      <div ng-message="required">Descricao é obrigatório</div>
    </div>
  </md-input-container>
</div>
<div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
    <label>Código</label>
    <input md-maxlength="30" required name="codeInterno" data-ng-model="vm.service.codeInterno" />
    <div ng-messages="serviceForm.codeInterno.$error">
      <div ng-message="required">Código é obrigatório</div>
    </div>
  </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
    <label>Valor</label>
    <input md-maxlength="30" required name="valor" data-ng-model="vm.service.valor" />
    <div ng-messages="serviceForm.valor.$error">
      <div ng-message="required">valor é obrigatório</div>
    </div>
  </md-input-container>

</div>
  

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <md-button class="md-raised md-primary" type="submit" data-ng-click="vm.insert()" data-ng-disabled="vm.serviceForm.$invalid">Cadastrar</md-button>
  <md-button class="md-raised" data-ng-click="vm.cancel()">Cancelar</md-button>
</section>