<md-dialog delete-dialog="" role="dialog" tabindex="-1" aria-describedby="dialog_22" class="md-transition-in" aria-label="Delete Items ..." style="">
  <md-dialog-content class="md-dialog-content" id="dialog_22">
    <h2 class="md-title">Delete Items</h2>
    <p>Deseja realmente excluir esse registro?</p>
  </md-dialog-content>
  <div class="md-actions">
    <button class="md-primary md-button md-ink-ripple" type="button" data-ng-click="vm.removePeople()" aria-label="Delete"><span>Delete</span></button>
    <button class="md-primary md-button md-ink-ripple" type="button" data-ng-click="vm.cancel()" aria-label="Close"><span>Close</span></button>
  </div>
<div class="md-dialog-focus-trap" tabindex="0"></div>
</md-dialog>