      <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm flex="55">
          <label>Nome</label>
          <input md-maxlength="30" required name="nome" data-ng-model="vm.people.name" />
          <div ng-messages="peopleForm.name.$error">
            <div ng-message="required">Nome é obrigatório</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm flex="20">
          <label>Código Interno</label>
          <input md-maxlength="5" required name="codeInterno" data-ng-model="pessoa.codeInterno" />
          <div ng-messages="peopleForm.codeInterno.$error">
            <div ng-message="required">Código interno é obrigatório</div>
          </div>
        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container class="md-block" flex-gt-sm flex="20">
          <label>Tipo</label>
            <md-select data-ng-model="pessoa.tipo" placeholder="Fisico/Juridico" class="md-no-underline" required md-no-asterisk="false">
              <md-option value="0">Física</md-option>
              <md-option value="1">Juridica</md-option>
            </md-select>
        </md-input-container>

      </div>

    <div layout-gt-sm="row" ng-show="" id="pessoaFisica">
        <!-- CAMPOS PESSOA FISICA -->
    </div>

    <div layout-gt-sm="row" ng-show="pessoaJuridica">
        <!-- CAMPOS PESSOA JURIDICA -->
    </div>

            <div layout-gt-sm="row" id="peopleEnderecoRow1">

                <md-input-container class="md-block" flex-gt-sm flex="35">
                  <label>Cep</label>
                  <input md-maxlength="11" required name="cep" data-ng-model="pessoa.endereco.cep" />
                  <div ng-messages="peopleForm.cep.$error">
                    <div ng-message="required">CEP é obrigatório</div>
                  </div>
                </md-input-container>

                <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
                </div>

                <md-input-container class="md-block" flex-gt-sm flex="45">
                  <label>Rua</label>
                  <input md-maxlength="30" required name="rua" data-ng-model="pessoa.endereco.rua" />
                  <div ng-messages="peopleForm.rua.$error">
                    <div ng-message="required">Rua é obrigatório</div>
                  </div>
                </md-input-container>

                <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
                </div>

                <md-input-container class="md-block" flex-gt-sm flex="10">
                  <label>Número</label>
                  <input md-maxlength="5" required name="numero" data-ng-model="pessoa.endereco.numero" />
                  <div ng-messages="peopleForm.numero.$error">
                    <div ng-message="required">Número é obrigatório</div>
                  </div>
                </md-input-container>
                
            </div>

            <div layout-gt-sm="row" id="peopleEnderecoRow2">

                <md-input-container class="md-block" flex-gt-sm flex="35">
                  <label>Bairro</label>
                  <input md-maxlength="20" required name="bairro" data-ng-model="pessoa.endereco.bairro" />
                  <div ng-messages="peopleForm.bairro.$error">
                    <div ng-message="required">Bairro é obrigatório</div>
                  </div>
                </md-input-container>

                <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
                </div>

                <md-input-container class="md-block" flex-gt-sm flex="15">
                  <label>País</label>
                    <md-select data-ng-model="pessoa.endereco.pais" placeholder="Pais" class="md-no-underline" required md-no-asterisk="false">
                          <md-option value="BRASIL">BRASIL</md-option>
                    </md-select>
                </md-input-container>

                <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
                </div>

                <md-input-container class="md-block" flex-gt-sm flex="15">
                  <label>Estado</label>
                  <md-select data-ng-model="pessoa.endereco.estado" placeholder="Estado" class="md-no-underline" required md-no-asterisk="false">
                          <md-option value="BAHIA">BAHIA</md-option>
                    </md-select>
                </md-input-container>

                <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
                </div>

                <md-input-container class="md-block" flex-gt-sm flex="20">
                  <label>Cidade</label>
                  <md-select data-ng-model="pessoa.endereco.cidade" placeholder="Cidade" class="md-no-underline" required md-no-asterisk="false">
                          <md-option value="SENHOR DO BONFIM">SENHOR DO BONFIM</md-option>
                    </md-select>
                </md-input-container>        
            </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm flex="25">
                          <label>Telefone 1</label>
                          <input md-maxlength="20" required name="telefone1" data-ng-model="pessoa.contato.telefone1" />
                          <div ng-messages="peopleForm.telefone1.$error">
                            <div ng-message="required">Telefon1 é obrigatório</div>
                          </div>
                    </md-input-container>


                <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
                </div>

                    <md-input-container class="md-block" flex-gt-sm flex="25">
                          <label>Telefone2</label>
                          <input md-maxlength="20" name="telefone2" data-ng-model="pessoa.contato.telefone2" />
                    </md-input-container>


                <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
                </div>

                    <md-input-container class="md-block" flex-gt-sm flex="40">
                          <label>Email</label>
                          <input md-maxlength="20" required name="email" data-ng-model="pessoa.contato.email" />
                          <div ng-messages="peopleForm.email.$error" ng-if="">
                            <div ng-message="required">Email é obrigatório</div>
                          </div>
                    </md-input-container>
                </div>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button class="md-raised md-primary" type="submit" data-ng-disabled="peopleForm.$error">Cadastrar</md-button>
                    <md-button class="md-raised">Cancelar</md-button>
                </section>