<!-- ### 1 LINHA ### -->
<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm flex="45">
    <label>Código Interno</label>
    <input md-maxlength="5" name="codeInterno" data-ng-model="vm.people.codeInterno" />
    <div ng-messages="peopleForm.codeInterno.$error">
      <div ng-message="required">Código interno é obrigatório</div>
    </div>
  </md-input-container>
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>
  <md-input-container class="md-block" flex-gt-sm flex="50">
    <label>Tipo</label>
    <md-select data-ng-model="vm.people.tipo" required data-ng-change="vm.changeTypePeople(vm.people.tipo)" placeholder="Fisico/Juridico"
      class="md-no-underline" md-no-asterisk="false">
      <md-option value="0">Física</md-option>
      <md-option value="1">Juridica</md-option>
    </md-select>
  </md-input-container>
</div>
<!-- #### fim 1 linha ### -->
<!-- ## VEIRIFCAÇÃO SE É FISICA OU JURIDICA 2 LINHA ## -->
<div ng-show="vm.typePeoplePhysical" id="vm.typePeople">
  <!-- CAMPOS PESSOA FISICA -->
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm flex="65">
      <label>Razão Social</label>
      <input md-maxlength="50" name="razao_social" data-ng-model="vm.people.fisica.razao_social" />
      <div ng-messages="peopleForm.razao_social.$error">
        <div ng-message="required">Razão Social é obrigatório</div>
      </div>
    </md-input-container>
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>
    <md-input-container flex="30">
      <label>Data nascimento</label>
      <md-datepicker ng-model="vm.people.fisica.dt_nascimento"></md-datepicker>
    </md-input-container>
  </div>
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm flex="50">
      <label>CPF</label>
      <input md-maxlength="20" name="cpf" data-ng-model="vm.people.fisica.cpf" />
      <div ng-messages="peopleForm.cpf.$error">
        <div ng-message="required">cpf é obrigatório</div>
      </div>
    </md-input-container>
    <div flex="5" hide-xs hide-sm>
    </div>
    <md-input-container class="md-block" flex-gt-sm flex="45">
      <label>RG</label>
      <input md-maxlength="20" name="rg" data-ng-model="vm.people.fisica.rg" />
      <div ng-messages="peopleForm.rg.$error">
        <div ng-message="required">RG é obrigatório</div>
      </div>
    </md-input-container>
  </div>
</div>
<!-- ## fim verificação ## -->
<!-- ## VEIRIFICAÇÃO SE É FISICA OU JURIDICA 2 LINHA ## -->
<div ng-show="vm.typePeopleLegal">
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm flex="45">
      <label>Razão Social</label>
      <input md-maxlength="50" name="razao_social" data-ng-model="vm.people.juridica.razao_social" />
      <div ng-messages="peopleForm.razao_social.$error">
        <div ng-message="required">Razão Social é obrigatório</div>
      </div>
    </md-input-container>
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>
    <md-input-container class="md-block" flex-gt-sm flex="50">
      <label>Nome Fantasia</label>
      <input md-maxlength="30" name="nome_fantasia" data-ng-model="vm.people.juridica.nome_fantasia" />
      <div ng-messages="peopleForm.nome_fantasia.$error">
        <div ng-message="required">nome fantasia é obrigatório</div>
      </div>
    </md-input-container>
  </div>
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm flex="60">
      <label>CNPJ</label>
      <input md-maxlength="20" name="cnpj" data-ng-model="vm.people.juridica.cnpj" />
      <div ng-messages="peopleForm.cnpj.$error">
        <div ng-message="required">CNPJ é obrigatório</div>
      </div>
    </md-input-container>
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>
    <md-input-container class="md-block" flex-gt-sm flex="45">
      <label>IE</label>
      <input md-maxlength="20" name="ie" data-ng-model="vm.people.juridica.ie" />
      <div ng-messages="peopleForm.ie.$error">
        <div ng-message="required">IE é obrigatório</div>
      </div>
    </md-input-container>
  </div>
</div>
<!-- fim pessoa juridica -->
<!-- ENDEREÇO -->
<div layout-gt-sm="row" id="peopleEnderecoRow1">
  <md-input-container class="md-block" flex-gt-sm flex="35">
    <label>Cep</label>
    <input md-maxlength="11" name="cep" data-ng-model="vm.people.endereco.cep" />
    <div ng-messages="peopleForm.cep.$error">
      <div ng-message="required">CEP é obrigatório</div>
    </div>
  </md-input-container>
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>
  <md-input-container class="md-block" flex-gt-sm flex="45">
    <label>Rua</label>
    <input md-maxlength="30" name="rua" data-ng-model="vm.people.endereco.rua" />
    <div ng-messages="peopleForm.rua.$error">
      <div ng-message="required">Rua é obrigatório</div>
    </div>
  </md-input-container>
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>
  <md-input-container class="md-block" flex-gt-sm flex="10">
    <label>Número</label>
    <input md-maxlength="5" name="numero" data-ng-model="vm.people.endereco.numero" />
    <div ng-messages="peopleForm.numero.$error">
      <div ng-message="required">Número é obrigatório</div>
    </div>
  </md-input-container>
</div>
<div layout-gt-sm="row" id="peopleEnderecoRow2">
  <md-input-container class="md-block" flex-gt-sm flex="35">
    <label>Bairro</label>
    <input md-maxlength="20" name="bairro" data-ng-model="vm.people.endereco.bairro" />
    <div ng-messages="peopleForm.bairro.$error">
      <div ng-message="required">Bairro é obrigatório</div>
    </div>
  </md-input-container>
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>
  <md-input-container class="md-block" flex-gt-sm flex="15">
    <label>País</label>
    <md-select data-ng-model="vm.people.endereco.pais" placeholder="Pais" class="md-no-underline" md-no-asterisk="false">
      <md-option value="BRASIL">BRASIL</md-option>
    </md-select>
  </md-input-container>
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>
  <md-input-container class="md-block" flex-gt-sm flex="15">
    <label>Estado</label>
    <md-select data-ng-model="vm.people.endereco.estado" placeholder="Estado" class="md-no-underline" md-no-asterisk="false">
      <md-option value="BAHIA">BAHIA</md-option>
    </md-select>
  </md-input-container>
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>
  <md-input-container class="md-block" flex-gt-sm flex="20">
    <label>Cidade</label>
    <md-select data-ng-model="vm.people.endereco.cidade" placeholder="Cidade" class="md-no-underline" md-no-asterisk="false">
      <md-option value="SENHOR DO BONFIM">SENHOR DO BONFIM</md-option>
    </md-select>
  </md-input-container>
</div>
<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm flex="25">
    <label>Telefone 1</label>
    <input md-maxlength="20" name="telefone1" data-ng-model="vm.people.contato.telefone1" />
    <div ng-messages="peopleForm.telefone1.$error">
      <div ng-message="required">Telefon1 é obrigatório</div>
    </div>
  </md-input-container>
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>
  <md-input-container class="md-block" flex-gt-sm flex="25">
    <label>Telefone2</label>
    <input md-maxlength="20" name="telefone2" data-ng-model="vm.people.contato.telefone2" />
  </md-input-container>
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>
  <md-input-container class="md-block" flex-gt-sm flex="40">
    <label>Email</label>
    <input md-maxlength="20" name="email" data-ng-model="vm.people.contato.email" />
    <div ng-messages="peopleForm.email.$error" ng-if="">
      <div ng-message="required">Email é obrigatório</div>
    </div>
  </md-input-container>
</div>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <md-button class="md-raised md-primary" type="submit" data-ng-click="vm.insert()" data-ng-disabled="vm.peopleForm.$invalid">Cadastrar</md-button>
  <md-button class="md-raised" data-ng-click="vm.cancel()">Cancelar</md-button>
</section>