<div>
    <md-card>
        <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.selected.length || vm.filter.show" aria-hidden="false" style="">
            <div class="md-toolbar-tools">
                <h2 class="md-title">Lista de produtos cadastradas</h2>
                <div flex="" class="flex"></div>
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="vm.listAll()" aria-label="filter_list">
                    <md-icon class="material-icons">cached</md-icon>
                     <div class="md-ripple-container"></div>
                </button>
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="vm.filter.show = true" aria-label="filter_list">
                    <md-icon class="material-icons">filter_list</md-icon>
                     <div class="md-ripple-container"></div>
                </button>
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="vm.insert($event)" aria-label="local_dining">
                    <md-icon class="material-icons">note_add</md-icon>
                    <div class="md-ripple-container"></div>
                </button>
            </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="vm.filter.show && !vm.selected.length" aria-hidden="true">
            <div class="md-toolbar-tools">
                <md-icon class="material-icons">search</md-icon>
                <form flex="" name="vm.filter.form" class="ng-pristine ng-valid flex">
                    <input ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="  Busca de produtos" class="ng-pristine ng-untouched ng-valid"
                        aria-invalid="false" type="text">
                </form>
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="vm.removeFilter()" aria-label="close">
                    <md-icon class="material-icons">close</md-icon>
                </button>
            </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar alternate ng-hide" ng-show="vm.selected.length" aria-hidden="true">
            <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
                <div>{{vm.selected.length}} item selected</div>
                <div>
                    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="vm.edit($event)" aria-label="update">
                        <md-icon class="material-icons">update</md-icon>
                    </button>
                    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="vm.delete($event)" aria-label="delete">
                        <md-icon class="material-icons">delete</md-icon>
                    </button>
                </div>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-row-select ng-model="vm.selected" md-progress="promise" class="ng-pristine ng-untouched ng-valid md-table md-row-select"
                aria-invalid="false">
                <thead md-head="" md-order="query.order" md-on-reorder="getDesserts" class="md-head">
                    <tr md-row="" class="md-row">
                        <th md-column="" md-order-by="nameToLower" class="md-column md-active md-sort"><span>Descrição</span>
                            <md-icon md-svg-icon="arrow-up.svg" class="md-sort-icon md-asc" ng-class="getDirection()" aria-label="arrow-up.svg" role="img">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet">
                                    <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"></path>
                                </svg>
                            </md-icon>
                        </th>
                        <th md-column="" md-numeric="" md-order-by="calories.value" class="md-column md-numeric md-sort">
                            <md-icon md-svg-icon="arrow-up.svg" class="md-sort-icon md-asc" ng-class="getDirection()" aria-label="arrow-up.svg" role="img">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet">
                                    <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"></path>
                                </svg>
                            </md-icon><span>Código</span></th>
                        <th md-column="" class="md-column md-numeric">Produto</th>
                        <th md-column="" md-numeric="" class="md-column md-numeric">Ano</th>
                        <th md-column="" md-numeric="" class="md-column md-numeric">Versão</th>
                        <th md-column="" md-numeric="" class="md-column md-numeric">Valor</th>
                    </tr>
                </thead>
                <thead class="md-table-progress">
                    <tr>
                        <th colspan="9">
                            <md-progress-linear ng-show="vm.reload" md-mode="indeterminate" aria-valuemin="0" aria-valuemax="100" role="progressbar"
                                aria-hidden="true" class="ng-hide">
                                <div class="md-container md-mode-indeterminate">
                                    <div class="md-dashed"></div>
                                    <div class="md-bar md-bar1"></div>
                                    <div class="md-bar md-bar2"></div>
                                </div>
                            </md-progress-linear>
                        </th>
                    </tr>
                </thead>
                <tbody md-body="" class="md-body">
                    <tr md-row="" md-select="priceList" md-select-id="priceList" md-auto-select="" ng-repeat="priceList in vm.listPriceList" class="md-row">
                        <!--
                        <td class="md-cell md-checkbox-cell">
                            <md-checkbox aria-label="Select Row" ng-click="$mdSelect.toggle($event)" ng-checked="$mdSelect.isSelected()" ng-disabled="$mdSelect.disabled"
                                role="checkbox" tabindex="0" class="" aria-disabled="false">
                                <div class="md-container md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox="">
                                    <div class="md-icon"></div>
                                </div>
                                <div class="md-label"></div>
                            </md-checkbox>
                        </td>
                        -->
                        <td md-cell="" class="md-cell">{{priceList.descricao}}</td>
                        <td md-cell="" class="md-cell">{{priceList.codeInterno}}</td>
                        
                        <td md-cell="" class="md-cell">{{priceList.produto.descricao}}</td>
                        <td md-cell="" class="md-cell">{{priceList.ano}}</td>
                        <td md-cell="" class="md-cell">{{priceList.versao}}</td>
                        <td md-cell="" class="md-cell">{{priceList.valor}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        
    </md-card>
</div>

