<md-dialog aria-label="Mango (Fruit)" class="md-dialog-fullscreen">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" data-ng-click="vm.cancel()">
          X
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout="column" data-ng-cloak class="md-padding">
        <md-card class="_md">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Cadastro de Tabela de preço {{vm.teste}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-content layout-padding>
            <form name="priceListForm" role="form">
              <div data-ng-include="'app/modules/priceList/templates/priceList_form.html'">
            </form>
          </md-content>
        </md-card>
        </div>
    </md-dialog-content>
  </form>
</md-dialog>